body {
    font-family: 'Concert One', cursive;
    background-image:url('../images/bg.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;

}

h1 {
    text-align: center;
    font-size: 48px;
    color:#F3F3F6;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 

}

.button-primary {
    font-family: 'Work Sans', sans-serif;
    background: #94000D;
    color: #FFDFFD;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px 18px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.button-primary:hover {
    background-color: #7A5B00;
    color: #ffffff;
}

#buttons{
    display: inline-block;
}

hr{
    width:50%;
    border-top: 1px solid #6E6E6E;
    margin-top: 20px;
}

footer p{
    text-align: center; 
    font-family: 'Work Sans', sans-serif;
    color:#F3F3F6;
}

#main-content {
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
    padding-top: 5%;
}

.image-left {
    margin-right: 15px;
 }

